<div class="container d-flex flex-nowrap flex-column align-items-center mt-4">
  {{!-- 篩選類別Filter --}}
  <div class="filter d-flex flex-nowrap justify-content-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Filter</label>
      </div>
      <form action="/category" method="GET">
        <select class="custom-select" onchange="submit()" name="filter" id="inputGroupSelect01"
          style="width: 200px;">123
          {{#each category}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  {{!-- 總金額totalAmount  --}}
  <div class="d-flex flex-column align-items-center flex-nowrap mt-2">
    <h3>總金額</h3>
    <span class="badge badge-pill badge-primary px-5 py-2">
      <h2 class="p-0 m-0">NTD$ {{totalAmount}}</h2>
    </span>
  </div>

  {{!-- 花費細項Detail --}}
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th style="text-align: center;" scope="col">類別</th>
        <th style="text-align: center;" scope="col">消費名稱</th>
        <th style="text-align: center;" scope="col">消費日期</th>
        <th style="text-align: center;" scope="col">消費金額</th>
        <th style="text-align: center;" scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each record}}
      <tr>
        <th style="text-align: center;" scope="row">{{{this.category}}}</i></th>
        <td style="text-align: center;">{{this.name}}</td>
        <td style="text-align: center;">{{this.date}}</td>
        <td style="text-align: center;">{{this.amount}}</td>
        <td style="text-align: center;">
          <div class="d-flex flex-nowrap justify-content-center">
            <a class="link mr-2" href="/expense/{{this._id}}/edit"><i class="far fa-edit" id="edit-icon"
                style="font-size: 1.5rem;"></i>
            </a>
            <form action="/expense/{{this._id}}?_method=DELETE" method="post" onsubmit="return confirmDelete()">
              <button type="submit" class="btn btn-link m-0 p-0" style="border: none; text-decoration:none">
                <i class="far fa-trash-alt" id="delete-icon" style="font-size: 1.5rem;">
                </i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td class="text-center" colspan="5">
          <form action="/expense/new" method="GET">
            <button type="submit" class="btn btn-outline-warning" style="width: 200px;">新增支出</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>